include ../components/_logo
include ../components/_headerNav

mixin header(page, paths)

	// header
	header.header
		p ヘッダーです。
		+logo(page, paths, '_header')
		+headerNav(page,paths,'_header')
	// /header