@use '../../../global/mixins' as *;
@use '../../../global/functions' as *;

.about {
  $this: &;
  min-height: 500vh;
  width: 500px;
  font-size: rem(14);
  @include mq('pc'){
    width: 100px;
    font-size: rem(20);
  }
  &__element{
    width: 300px;
    @include mq('pc-min'){
      width: 200px;
    }
  }
  &--modifier{
    .about__element{
      color: red;
    }
  }
  // ↓変数を使うと…
  &--modifier{
    #{$this}__element{
      color: red;
    }
  }
  @include mq("sp") {
    padding: rem(24);
  }
}

.about-items{
  font-size: vw(20);
  line-height: lh(16,29);
}

.about-item{
  opacity: 1;
  transition: easing(easeInQuad);
  &:hover{
    opacity: 0.5;
  }
}